/* ************************** NAVIGATION / HEADER / FOOTER ***********************/
/** {
  border: 1px dotted blue;
}*/

* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  width: 140px;
  position: relative;
  text-align: center;
}

.menu-bar {
  text-align: center;
  background-color: #ff7d93;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.menu-bar h1 {
  font-family: palatino;
  font-size: 70px;
}

.menu-bar .public {
  float: left;
  margin: 20px 0 0 20px;
}

.menu-bar .admin {
  float: right;
  margin: 20px 20px 0 0;
}

.public a {
  font-size: 18px;
  font-family: palatino;
  color: black;
  text-decoration:none !important;
  margin: 0 10px 0 10px;
}

.public a:hover {
  color: white;
}

.admin a{
  font-size: 18px;
  font-family: palatino;
  color: black;
  text-decoration:none !important;
  margin: 0 10px 0 10px;
}

.admin a:hover {
  color: white;
}

.inputHtml, .flowersHtml, .flowerdbHtml, .accentsHtml,
 .colorHtml, .accountsHtml {
  padding: 50px 0 60px 0;
}

.homepage {
  text-align: center;
  background-color: white;
  z-index: 5;
}

.homeImage {
  width: 40%;
}

.footerContainer {
  position: relative;
  text-align: center;
  background-color: #ff7d93;
  height: 30px;
}

.footerContainer p {
  font-family: palatino;
  position: relative;
  top: 4px;
}

/* *************************** HOME PAGE ****************************/

.homepage {
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

.homepage h1 {
  font-family: palatino;
  font-size: 80px;
}

.public .home:hover {
  color: #E80C73;
}

.admin .home:hover {
  color: #E80C73;
}

/*--------------------------------flowers view-------------------------------------*/
.flowersHtml {
  background-color: white;
}

.flowersHtml h1 {
  font-family: palatino;
  text-align: center;
  color: black;
}


.flowerImages {
  position: relative;
  width: 100%;
  /*text-align: justify;
  line-height: 0;*/
}

.flowersThumb {
  display: inline-block;
  width: 20%;
  height: auto;
  border: 5px solid #E80C73;
  border-radius: 10%;
  margin: 2.3%;;
}


/* *************************** ACCENTS page *********************** */
.accentsHtml {
  background-color: white;
}

.accentsHtml {
  font-family: palatino;
  text-align: center;
  color: black;
}

.accentImage, .greenImage {
  display: inline-block;
  width: 20%;
  height: auto;
  border: 5px solid #E80C73;
  border-radius: 10%;
  margin: 2.3%;;
}



/* ********************* GALLERY PAGE *******************/
.galleryHtml {
  text-align: center;
  font-family: palatino;
  color: black;
  background-color: white;
  height: 700px;
}

.galleryHtml h1 {
  position: relative;
  top: 50px;
}

#gallerySlider {
  position: relative;
  top: 10px;
}

/* ************************ COLOR MEANINGS PAGE ****************/

.colorHtml h1 {
  text-align: center;
}


/*-----------------flowers db------------------*/
.flowerdbHtml {
  background-color: white;
  font-family: palatino;
}

.flowerdbHtml button {
  border: 2px solid white;
  border-radius: 3px;
  background-color: #FF7D93;
}

#submitFlower {
  background-color: white;
  opacity: .90;
  margin: 20px;
}

#submitFlower h2 {
  text-align: center;
}


#flowerList {
  background-color: white;
  opacity: .98;
  margin: 20px;

}

.flowerdbHtml h1 {
  font-family: palatino;
  text-align: center;
  color: white;
}

#flowerTable {
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 7px;
}

#flowerTable th {
  height: 30px;
  background-color: #E80C73;
  border: 1px solid black;
  color: white;
}

#flowerTable tr:nth-child(odd) {
  background: #FAD9E9;
}

#flowerTable td {
  /*border: 0.5px solid #eb75ac;*/
  border: none;
  padding: 0 8px 0 8px;

}

.thumbDiv {
  clear: both;
  column-count: 2;
  column-gap: 0.5em;
}

.dbThumb {
  border: 0.5px solid grey;
  display: inline;
  width: 100%;
  height: auto;

}

.galleryImage {
  width: 150px;
  height: auto;
  border: 1px solid #E80C73;
  border-radius: 75px;
}

.inline > * {
  float:left;
  width: 45%;
}

#tableImage {
  width: 12%;
}

.addImage {
  font-size: 7px;
}

.fdbHeader1 {
  width: 100px;
  padding-left: 20px;
}

.fdbImageHeader {
  width: 300px;
  padding-left: 20px;
}

.fdbDeleteHeader {
  width: 5px;
  text-align: center;
}

.fdbFlowerHeader {
  width: 25px;
  padding-left: 20px;
}



/* ************************ INPUT page ************************** */
.inputHtml {
font-family: palatino;
}

.inputHtml button {
  background-color: #FF7D93;
  border: 2px solid white;
  border-radius: 3px;
}

#gallery, #accents, #greens {
  border: 2px solid #E80C73;
  margin: 20px;
  padding: 10px;
}

#galleryList {
  column-count: 2;
}

.inputHtml h2 {
  text-align: center;
}

.galleryInputThumb {
  width: 100px;
  height: auto;
  border: 1px solid #E80C73;
  margin: 2px;
}

.eachArrangement {
  width: 475px;
}

.arrangementComment {
  display: inline;
}

#accentTable {
  border-collapse: collapse;
  border: 1px solid black;
}

#accentTable th {
  height: 50px;
  background-color: #E80C73;
  border: 1px solid black;
  color: white;
}

#accentTable .name, .image {
  padding-left: 20px;
  width: 300px;
}

#accentTable tr:nth-child(even) {
  background: pink;
}

#greenTable {
  border-collapse: collapse;
  border: 1px solid black;
}

#greenTable th {
  height: 50px;
  background-color: #E80C73;
  border: 1px solid black;
  color: white;
}

#greenTable .name, .image {
  width: 300px;
  padding-left: 20px;
}

#greenTable tr:nth-child(even) {
  background: pink;
}

.inputAccentThumb {
  width: 50px;
  height: auto;
  border: 2px solid #E80C73;
  margin: 2px;
}

.inputGreenThumb {
  width: 50px;
  height: auto;
  border: 2px solid #E80C73;
  margin: 2px;
}

/* ************************* Accounts view *************************/
.accountsHtml {
  font-family: palatino;
}

#customerSubmission, #customerList {
  margin: 20px;
}

.accountsHtml button {
  background-color: #ff7d93;
  border: 2px solid white;
  border-radius: 3px;
}

.accountsHtml h2 {
  text-align: center;
}

#customerTable {
  border-collapse: collapse;
  border: 1px solid black;
}

#customerTable th {
  height: 50px;
  background-color: #E80C73;
  border: 1px solid black;
  color: white;
  padding: 8px;
}

#customerTable tr:nth-child(even) {
  background: #FFBDDD;
}

.aFName, .aLName {
  width: 100px;
}

.aEventDate, .aPhone, .aEvent {
  width: 135px;
}

.aAddress, .aEmail {
  width: 180px;
}

/* ********************** MODALS *********************/

.modalContainer {
  border: 5px solid #ffaa00;
}

.modalContainer h3, p {
  font-family: palatino;
}


/*--------------------------------- SLIDER -------------------------------------------*/

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav {
    bottom: 10px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.nav li {
    border: 3px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 37px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.nav li.active {
    border: 3px solid #ffaa00;
}
.nav li img {
    width: 100%;
}

.slider {
    z-index: 3;
    border: 15px solid black;
    border-radius: 5px;
    height: 457px;
    margin: 75px auto;
    position: relative;
    width: 630px;
    padding: 0px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;
    transition:1s linear all;
}

.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    transition:2s linear all;

    display:block!important;
    opacity:0;
}

.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
