/** {
  border: 1px dotted blue;
}*/

* {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #ff7d93;
  height: 120px;
  margin-top: -20px;
  padding: 1px;
}

.header-h1 {
  text-align: center;
  font-family: palatino;
  padding: 1px;
  margin-top: 40px;
}

.customer-flower-basket {
  margin: 20px;
}
/*
.update-form {
  background-color: lightblue;
  padding: 0 20px 0 20px;
}*/

.updateUserInfo label, input {
  display: block;
  font-family: palatino;
}

#add-to-basket {
  float: left;
}
