* {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #ff7d93;
  height: 120px;
  margin-top: -20px;
  padding: 1px;
}

.header-h1 {
  text-align: center;
  font-family: palatino;
  padding: 1px;
  margin-top: 40px;
}
