<div class="modalContainer">
  <div class="modal-header">
      <h3>{{correctFlower.name}}</h3>
  </div>
  <div class="modal-body">
      <h4>Description: </h4><p>{{correctFlower.description}}</p>
      <h4>Symbolism: </h4><p>{{correctFlower.symbolism}}</p>
      <h4>Color Meaning: </h4><p>{{correctFlower.colorMeaning}}</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-info" id="add-to-basket" ng-click="addToBasket(correctFlower._id)">Add to Basket</button>
      <button class="btn btn-info" ng-click="closeModal()">Close</button>
  </div>
</div>
