<div class="modal-header">
    <h3>Edit Personal Info</h3>
</div>
<div class="modal-body">
  <div class="update-form">
    <form class="updateUserInfo">
      <label for="fName">First Name</label>
      <input type="text" name="fName">

      <label for="lName">Last Name</label>
      <input type="text" name="lName">

      <label for="email">Email</label>
      <input type="email" name="email">

      <label for="phone">Phone Number</label>
      <input type="tel" name="phone">

      <label for="address">Address</label>
      <input type="text" name="address">

      <label for="event">Event</label>
      <input type="text" name="event" placeholder="wedding, birthday, etc...">

      <br>

      <button button class="btn btn-info" name="submitEdits" ng-click="sumbitEdits(user._id)">Submit</button>
    </form>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="closeModal()">Close</button>
</div>
