<div class="colorHtml">

<h1>Flower Color Meanings</h1>

<h3>Red Flowers</h3>
<p>Vibrant, passionate and demanding to be noticed, red is the color of love and
romance. Red flowers symbolize courage, respect, constancy, admiration and, of
course, desire.</p>
<br />
<h3>Pink Flowers</h3>
<p>Delicate light pink hues speak of gentleness, happiness and love. A very
romantic flower color, it’s also a symbol of grace and innocence.</p>
<br />
<h3>Blue Flowers</h3>
<p>Peaceful blue is said to convey serenity and openness. A flower delivery of a
bouquet containing blue flowers may be a sign to slow down, relax and release
the stress.</p>
<br />
<h3>White Flowers</h3>
<p>White flowers can mean reverence and humility, purity and innocence or sympathy
for a bereavement. Depending on the type of blooms chosen by your local
florists, a bouquet of white flowers can be bold and brilliant, or gentle and
self-effacing.</p>
<br />
<h3>Yellow Flowers</h3>
<p>Yellow flowers burst with happiness. They symbolize the bonds of friendship,
the taste of success and pride. Joy is also one of the meanings of this flower,
as that is one of the feelings the color is said to evoke.</p>
<br />
<h3>Lavender Flowers</h3>
<p>Youth and elegance, grace and refinement. Lavender flowers have a delicate,
feminine and old-fashioned touch to them, even when contained in a decidedly
modern bouquet.</p>
<br />
<h3>Orange Flowers</h3>
<p>No wallflower, here. Orange is bold, passionate and full of life. It’s no wonder
that orange blooms speak of enthusiasm, excitement and exuberance.</p>
<br />
<h3>Green Flowers</h3>
<p>Green flowers represent the optimism of renewal, of spring and of youthfulness.
Green flowers in a bouquet are also a wish for good fortune and good health.</p>
<br />
<h3>Purple Flowers</h3>
<p>A royal color, purple flowers symbolize dignity, tradition and success. A
bouquet containing purple flowers can be symbols of admiration and adoration.</p>

</div>
