<div class="homepage">
  <h1>fuxia</h1>

  <div class="navigationPublic">
    <div class="public">
      <a class="home" href="#/home">Home</a>
      <a class="home" href="#/flowers">Flowers</a>
      <a class="home" href="#/floralaccents">Floral Accents</a>
      <a class="home" href="#/gallery">Gallery</a>
    </div>

  </div>
  <img class="homeImage" src="style/content/header-footer/bouquethome.png" />

  <div class="navigationAdmin">
    <div class="admin">
      <a class="home" href="#/flowerdb">Flower DB</a>
      <a class="home" href="#/galleryinput">Gallery DB</a>
      <a class="home" href="#/accounts">Accounts</a>
    </div>

    <div class="container">
  <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
    <form ng-submit="login()">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
          <a href="#register">Register</a>
      </div>
    </form>
</div>

  </div>

</div>
