<div class="customer-landing">
  <section id="landing-head">
    <div class="header-container">
      <div class="menu-bar">
        <div class="public">
          <a href="#/home">Home</a>
          <a href="#/flowers">Flowers</a>
          <a href="#/floralaccents">Floral Accents</a>
          <a href="#/gallery">Gallery</a>
        </div>

        <div class="admin">
          <a href="#/flowerdb">Flower DB</a>
          <a href="#/galleryinput">Gallery DB</a>
          <a href="#/accounts">Accounts</a>
        </div>
      </div>
    </div>
  </section>


  <section id="landing-body">
    <div class="customer-flower-basket">
      <h4>Welcome {{user.username}}</h4>
      <button type="button" name="update-client-info" ng-click="updateInfo(user._id)">Update info</button>
      <h5>Your flower basket contains:</h5>
      <div class="basket-contents">

      </div>
    </div>
  </section>





</div>
